<div class="login-container">
    <div class="logo">Student Portal System</div>
    <div class="desc">
        Our University Student Portal System is your one-stop digital hub for all things academic and campus-related. Seamlessly navigate your academic journey with features like course management, grade tracking, and communication tools. Stay in the know with the latest campus news, events, and career opportunities. It's your gateway to personalized support and resources, ensuring you make the most of your university experience. Welcome to a world of knowledge and convenience at your fingertips.
    </div>
</div>